# Supabase
SUPABASE_URL=https://hupvambveuatexjpxucj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1cHZhbWJ2ZXVhdGV4anB4dWNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MDA4NzQsImV4cCI6MjA4ODE3Njg3NH0.xQFqPg-NR2Pta5HHnpOKeEB3g5tWnQJSEe-fkRmRWOg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1cHZhbWJ2ZXVhdGV4anB4dWNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjYwMDg3NCwiZXhwIjoyMDg4MTc2ODc0fQ.naHTpcVVbSZ5s6NIwdGOgxNOzLXXVyKH_0SCyq4Q3LU
SUPABASE_JWT_SECRET=LgbhbFD9UFViC9DnixGil9pXldq4LZK8EeobN/l7o0G1it1p+SKaM+KCaVLAntaKwFyr9j5vuNDxE58GMSLSgQ==

# Database
DATABASE_URL=postgresql+asyncpg://postgres:Boicd35bh!!!@db.hupvambveuatexjpxucj.supabase.co:5432/postgres

# App
ENV=development
DEBUG=true
CORS_ORIGINS=http://localhost:3000